body {
  width: 100%;
	margin: auto;
	margin-top: 50px;
	background-color: #fbfbfb;
  padding-right: 1px;
  margin-left: 5px;

	color: #333;
	font-family: 'Muli', sans-serif;
}

label img{
  pointer-events: none;
}

label{
  display: inline-block;
}

.sp-bar {
  background-color: #fff;
  width: 100% !important;
  margin-top: -60px;
  height: 80px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;
}

.sp-bar img {
  max-height: 80px;
  margin-top: 5px;
}

.container-fluid {
  width: 800px;
}

.col-md-12 {
  padding: 1px;
  margin: 0px;
}
 #slider {
  width: 740px;
  margin-left: 30px;
  margin-right: 30px;
 }

.shop-detail {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.shop-detail h3{
	font-size: 18px;
	font-weight: 500;
	margin-top: 5px;
}

.shop-detail p{
	color: #666;
}


.contact-details{
	margin-top: -10px;
}

#shop-social {
	margin-top: 12px;
	margin-left: -45px;
}

#shop-social ul {
  list-style-type: none;
  margin-left: 0px;
  margin-top: -10px;
}
/*
#shop-social li {
  display: inline-block;
  background-color: #777;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
}
*/
#shop-social li {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #777;
  padding-top: 5px;
  padding-left: 10px;
}


#shop-social li a{
	color: #777;
}

#shop-social li a:hover{
	color: #14cd7d !important;
}

.crop {
    vertical-align: top;
    padding-left: 20px;
}

.crop img {
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.item-detail {
	padding-left: 20px;
	padding-right: 20px;
}

.product-detail {
	padding-left: 15px;
	padding-right: 15px;
}

.product-detail p{
	text-align: justify;
	text-justify: inter-word;
    word-wrap: break-word;
}

.order-detail {
	padding: 15px;
}

#address_fields {
    display: none;
}

/* ===== gallery ===== */

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel {
	margin-bottom: -20px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}


/* ===== form ===== */
.form-style input{
    margin-top: 3px;
    margin-bottom: 3px;
	padding: 10px;
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 15px;
}

.form-short input{
	width: 100px !important;
}

.select-style {
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("../images/caret-down.png") no-repeat 98% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.additional-field-title {
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}

.summary {
	background-color: #dcdcdc;
	border-radius: 3px;
	padding: 5px 20px 5px 20px;
}

.summary table td {
	padding-bottom: 10px;
}

.border-up {
	border-top: 2px solid #a9a9a9;
}

.border-up td{
	padding-top: 15px;
}

.tab-pane {
	margin-top: 30px;
}

.btn-pay, .btn-add-to-cart {
	padding: 15px;
	background-color: #14cd7d;
	border: none;
	border-radius: 3px;
	color: #fff;
	margin-top: 50px;
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.btn-try {
  padding: 8px;
  background-color: #14cd7d;
  border: none;
  border-radius: 3px;
  color: #fff;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 10px;
}

.btn-try.auto-width {
    width: auto;
}

.help-button, .sp.input-group-addon {
    padding: 10px;
}

.input-group.quantity-input-group .btn-number {
    padding: 6px 10px;
    margin-top: 3px;
}
.input-group.quantity-input-group input {
    border-radius: 0;
    padding: 6px 12px;
}

.form-style .sp.input-group {
    margin-top: 3px;
    margin-bottom: 3px;
}
.form-style .sp.input-group input {
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* === radio button edit === */

.rdbank {
}

.rdbank input[type=radio]:checked ~ label {
  border: 3px solid #14cd7d;
  background-color: #fff;
}

.rdbank input[type=radio] {
   visibility:hidden;
}

.rdbank label { 
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  width: 160px;
  height: 60px;
  cursor: pointer;
  margin: 0px;
}

.rdbank img {
  width: 98%;
  height: 98%;
  padding: 0;
  display: block;
  margin: auto;
}

.rdbank p {
  text-align: center;
  margin-top: 3px;
  font-weight: 500;
}

.choose-type {
  margin-top: 20px !important;
}

.choose-type ul{
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.choose-type li {
  width: 19.5%;
  display: inline-block;
}
.choose-type li a{
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  height: 64px;
  padding: 2px;
  margin: 0px;
  text-decoration: none;
}
.choose-type li a img{
  width: 100%;
  object-fit: contain;
}
.choose-type li a.stripe {
  background-color: #635bff !important;
  border: 3px solid #635bff;
    padding-top: 13px;
}
  .choose-type li a.stripe img{
    height: 32px !important;
  }
.choose-type li a.credit {
  background-color: #1f2260 !important;
  border: 3px solid #1f2260;
    padding-top: 3px;
}
  .choose-type li a.credit img{
    height: 52px;
  }
.choose-type li a.fpx {
  background-color: #fff !important;
  border: 3px solid #fff;
  padding-top: 13px;
}
  .choose-type li a.fpx img{
    height: 30px;
  }
.choose-type li a.boost {
  background-color: #ed3124 !important;
  border: 3px solid #ed3124;
  padding-top: 1px;
}
  .choose-type li a.boost img{
    height: 56px;
  }
.choose-type li a.tng {
  background-color: #2f60a3 !important;
  border: 3px solid #2f60a3;
  padding-top: 1px;
}
  .choose-type li a.tng img{
    height: 58px;
  }
.choose-type li a.grab {
  background-color: #00b041 !important;
  border: 3px solid #00b041;
  padding-top: 3px;
}
  .choose-type li a.grab img{
    height: 52px;
  }


.choose-type li.active a{
  color: #fff;
  background-color: #14cd7d;
  border-color: #14cd7d; 
}

#disclaimer {
    padding-top: 10px;
}

.footer-text {
	font-style: italic;
	color: #999;
	font-size: 12px;
	margin-left: -10px;
}

.footer-menu ul{
  list-style-type: none;
  margin-left: 0px; 
}

.footer-menu li{
  display: inline-block;
  font-size: 11px;
  padding-left: 10px;
}
.footer-menu li a{
  color: #999;
}
.footer-menu li a:hover{
  color: #14cd7d;
}
.short-fix {
  width: 111%;
}

.footer-img {
  width: 400px;
  margin-left: -10px;
}
.footer p{
	color: #999;
	font-size: 11px;
}
.footer img {
	width: 60px;
	margin-top: -9px;
}
.price {
  background-color: #14cd7d;
  border-radius: 2px;
  padding: 8px;
  color: #fff;
  margin-top: -7px !important;
  margin-left: 10px;
}
.fail {
  background-color: #FF4D4D;
  border-radius: 2px;
  padding: 8px;
  color: #fff;
  margin-top: -7px !important;
}
hr.payment-result {
    clear: both;
}

.modal#itemAddedModal, .modal#errorModal, .modal#deliveryChargeUpdatedModal  {
    text-align: center;
}

.mobile-only{
  display: none;
}
.desktop-only{
  display: block;
} 

/* ======== customization for mobile view =============== */

@media screen and (max-width: 799px) {
    .desktop-only{
        display: none;
    }

    .mobile-only{
        display: block;
    }

    body {
        width: 94%;
    }
    .sp-bar {
      height: 20%;
    }
    .sp-bar img {
      max-width: 35%;
    }
    .container-fluid {
      width: 100%;
    }
    #slider {
      width: 100%;
      margin-left: 0px;
    }

    .choose-type li {
        width: 19%;
    }

    .choose-type li a {
      width: 100% !important;
      margin-top: -1px;
      border-radius: 5px;
    }
/*
    #shop-social {
      padding-right: 5px;
      margin-top: 0px;
    }

    #shop-social ul {
      list-style-type: none;
      margin-left: 0px; 
    }

    #shop-social li {
      margin-top: 5px;
      margin-left: -20px;
    }
*/
    .short-fix {
      width: 119%;
    }
    .fix-mobile {
      margin-left: 30px;
    }

      .choose-type li a.stripe img{
      }

      .choose-type li a.credit img{
      }

      .choose-type li a.fpx img{
      }

      .choose-type li a.boost img{
        height: 45px;
        margin-top: 3px;
      }

      .choose-type li a.tng img{
        height: 45px;
        margin-top: 3px;
      }

      .choose-type li a.grab img{
        height: 45px;
        margin-top: 3px;
      }

}


.text-show-small {
  display: none;
}

/* == for small mobile fix == */
@media screen and (max-width: 320px) {
    .fix-s-m-hide {
      visibility: hidden;
    }
    .short-fix {
      width: 138%;
    }
    .footer-img {
      width: 100%;
    }
    .shop-detail {
      margin-left: -50px;
    }

    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 11px;
    }
    .crop img {
    width: 60px;
    height: 60px;
    margin-top: 2px;
    }
/*
    #shop-social {
      margin-top: 10px;
      margin-left: -7px;
      margin-right: -10px;
      margin-bottom: -5px;

      padding-left: 7px;
      padding-right: -20px;
    }
    #shop-social li {
      display: inline-block;
      background-color: #f8f8f8;
      border-radius: 0;
      width: 110px;
      height: 30px;
      color: #777;
      margin-top: -10px;
    }
    #shop-social li a{
      color: #777;
    }
    #shop-social li a:hover{
      color: #fff !important;
      background-color: #14cd7d;
    }
*/
    .text-show-small {
      display: inline-block;
      font-size: 10px;
      margin-left: 7px;
    }
    .product-detail .price {
    	margin-top: 4px;
    }
    .footer p{
    	font-size: 9px;
    }
    .footer img {
    	width: 40px;
    	margin-top: -30px;
    	margin-left: 80px;
    }
    .choose-type li a{
	  font-size: 14px;
	  width: 104% !important;
	}
	.rdbank label { 
	  width: 100% !important;
	  height: 40px;
    background-color: #fff;
	}
  .footer-menu{
    margin-left: -20px;
    padding-left: 0px;
  }
	.footer-menu li{
	  display: inline-block;
	  font-size: 8px;
	  padding-left: 0px;
	  margin-left: 0px;
    margin-top: -10px !important;
	}
}


/* == for medium mobile fix == */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .fix-s-m-hide {
      visibility: hidden;
    }
    .short-fix {
      width: 129%;
    }
    .footer-img {
      width: 100%;
    }
/*
    #shop-social {
      margin-top: 10px;
      margin-left: -18px;
      margin-right: -10px;
      margin-bottom: -5px;

      padding-left: 12px;
      padding-right: -20px;
    }
    #shop-social li {
      display: inline-block;
      background-color: #f8f8f8;
      border-radius: 0;
      width: 130px;
      height: 30px;
      color: #777;
      margin-top: -10px;
    }
    #shop-social li a{
      color: #777;
    }
    #shop-social li a:hover{
      color: #fff !important;
      background-color: #14cd7d;
    }
*/
    .text-show-small {
      display: inline-block;
      font-size: 12px;
      margin-left: 7px;
    }
    .shop-detail {
      margin-left: -45px;
    }

    .product-detail .price {
    	margin-top: 4px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }

    .footer p{
    	font-size: 9px;
    }
    .footer img {
    	width: 40px;
    	margin-top: -30px;
    	margin-left: 80px;
    }

  .footer-menu{
    margin-left: -20px;
    padding-left: 0px;
  }
	.footer-menu li{
	  display: inline-block;
	  font-size: 9px;
	  padding-left: 0px;
	  margin-right: 10px;
	}

	.rdbank label { 
	  margin-right: -4px;
	  width: 130px;
	  height: 50px;
	}
}

/* == for large mobile fix == */
@media screen and (min-width: 376px) and (max-width: 425px) {
    .short-fix {
      width: 125%;
    }
    .footer-img {
      width: 100%;
    }

/*
    #shop-social {
      margin-top: 10px;
      margin-left: -17px;
      margin-right: -10px;
      margin-bottom: -5px;

      padding-left: 12px;
      padding-right: -20px;
    }
    #shop-social li {
      display: inline-block;
      background-color: #f8f8f8;
      border-radius: 0;
      width: 130px;
      height: 30px;
      color: #777;
      margin-top: -10px;
    }
    #shop-social li a{
      color: #777;
    }
    #shop-social li a:hover{
      color: #fff !important;
      background-color: #14cd7d;
    }
*/
    .text-show-small {
      display: inline-block;
      font-size: 12px;
      margin-left: 7px;
    }
    .shop-detail {
      margin-left: -45px;
    }

    .product-detail .price {
    	margin-top: 4px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }

    .footer p{
    	font-size: 11px;
    }
    .footer img {
    	width: 50px;
    	margin-top: -37px;
    	margin-left: 100px;
    }

  .footer-menu{
    margin-left: -20px;
    padding-left: 0px;
  }

	.footer-menu li{
	  display: inline-block;
	  font-size: 9px;
	  padding-left: 0px;
	  margin-right: 0px;
	}

	.rdbank label { 
	  margin-right: -4px;
	  width: 130px;
	  height: 50px;
	}
}


/* == for large mobile fix == */
@media screen and (min-width: 426px) and (max-width: 799px) {
/*
	#shop-social {
		margin-top: 12px;
		margin-left: -45px;
	}

	#shop-social ul {
	  list-style-type: none;
	  margin-left: 20px; 
	}

	#shop-social li {
	  display: inline-block;
	  background-color: #777;
	  border-radius: 50%;
	  width: 30px;
	  height: 30px;
	  margin-left: 10px;
	  color: #fff;
	  padding-top: 5px;
	  padding-left: 10px;
	}

	#shop-social li:hover{
		color: #fff;
	  	background-color: #14cd7d;
	}
*/

    .product-detail .price {
    	margin-top: 6px;
    }
    
    .short-fix {
      width: 112%;
    }


    .choose-type li a{
	  width: 95% !important;
	}
}


/* =========== for success page ============ */
p .hilight {
  text-transform: uppercase;
  font-weight: 700;
}



/* =============================================================== */
/* =========== for multiple product page ============ */
/* =============================================================== */


.card-carousel {
  width: 766px;
  border: solid 1px #f3f3f3;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
}

.card-carousel.single-product {
    margin-bottom: 0;
}

.card-carousel img {
  width: 100%;
}

.card-carousel .product-detail {
	padding: 0px !important;
}



/* ============= swiper ============== */
.swiper-container {
    width: 770px;
}


@media screen and (max-width: 799px) {
	.swiper-container {
    width: 100%;
	}
	.card-carousel {
  	width: 100%;
  	}
}

/* =============== cart-bar ================ */
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    color: #444;
    cursor: pointer;
    padding: 8px;
    padding-right: 20px;
    margin-bottom: 10px;
    width: 99%;
    margin-left:3px;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    background: #fff url("caret-down.png") no-repeat 98% 50%;
    padding-right: 60px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion.active{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    width: 99%;
    margin-left: 5px;
    margin-top: -10px;
    padding: 18px;
    background-color: white;
    display: none;
}

#cart-list {
  width: 100%;
}

#cart-list td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
}

#cart-list tr:hover {
  background-color: #f3f3f3;
}

#cart-list td:first-child {
  padding-left: 10px;
}

#cart-list td:last-child {
    padding-right: 10px;
}

.quantity {
  text-align: right;
}

.harga {
  text-align: right;
  padding-right: 20px;
}

.hargasum {
  text-align: right;
  padding-right: 0px;
}

.remove button {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}

.remove button:active {
  color: #ff3232;
}

.remove button i{
  color: #333;
  margin-top: -10px;
}

.remove button:hover i{
  color: #ff3232;
}

.cart-summary {
    text-align: right;
    padding-right: 20px;
}

.options {
  font-size: 12px;
  color: #777;
}

button.accordion img{
  width: 20px;
  margin-right: 10px;
}

.cart-counter {
  background-color: #14cd7d;
  border-radius: 50%;
  padding: 3px 8px  3px 8px;
  color: #fff;
  font-weight: 700;
}

.light {
  color: #999;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    top:1px;
    bottom:inherit;
}

.modal-backdrop {
    z-index: -1;
}

ul.no-style,
ol.no-style {
    list-style: none;
}

.no-style li {
    display: inline-block;
    font-size: 11px;
    padding-left: 5px;
}

.no-style li a{
    color: #999;
}

/* ============ mobile view - fix horizontal scrolling problem ============= */

/* == for desktop fix == */
@media screen and (min-width: 800px) {
	body {
		width: 100%;
		margin-left: 0px;
	}

    .modal#itemAddedModal, .modal#errorModal, .modal#deliveryChargeUpdatedModal  {
        text-align: center;
    }

    .modal#itemAddedModal:before, .modal#errorModal:before, .modal#deliveryChargeUpdatedModal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
        width: auto;
    }

    #itemAddedModal .modal-dialog, .modal#errorModal .modal-dialog, .modal#deliveryChargeUpdatedModal .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .modal#itemAddedModal .modal-dialog .modal-title, .modal#errorModal .modal-dialog .modal-title, .modal#deliveryChargeUpdatedModal .modal-dialog .modal-title  {
        text-align: center;
    }
}


/* == for x-large mobile fix == */
@media screen and (min-width: 426px) and (max-width: 799px) {
	body {
		width: 95%;
		margin-left: 17px;
	}
}


/* == for large mobile fix == */
@media screen and (min-width: 376px) and (max-width: 425px) {
	body {
		width: 98%;
	}

	.swiper-container {
		width: 110%;
		margin-left: -20px !important;
	}

	.card-carousel {
		border-radius: 0px;
	}


  button.accordion {
    width: 110%;
    margin-left: -19px;
    margin-bottom: 0px;
    border-radius: 0;
  }
  div.panel {
    width: 110%;
    margin-left: -19px;
    margin-top: 0px;
    padding: 18px;
  }

}


/* == for medium mobile fix == */
@media screen and (min-width: 321px) and (max-width: 375px) {
	body {
		width: 98%;
	}

	.swiper-container {
		width: 112%;
		margin-left: -20px !important;
	}

	.card-carousel {
		border-radius: 0px;
	}


  button.accordion {
    width: 112%;
    margin-left: -19px;
    margin-bottom: 0px;
    border-radius: 0;
  }
  div.panel {
    width: 112%;
    margin-left: -19px;
    margin-top: 0px;
    padding: 18px;
  }
}


/* == for small mobile fix == */
@media screen and (max-width: 320px) {
	body {
		width: 98%;
	}

	.swiper-container {
		width: 114%;
		margin-left: -20px !important;
	}

	.card-carousel {
		border-radius: 0px;
	}


  button.accordion {
    width: 114%;
    margin-left: -19px;
    margin-bottom: 0px;
    border-radius: 0;
  }
  div.panel {
    width: 114%;
    margin-left: -19px;
    margin-top: 0px;
    padding: 18px;
  }
}







