/* .index2 section.content { margin: 106px 0px 0px 0px !important;}
.index2 .navbar{width: 100%;} */
section.content {margin-top: 95px !important;}
.no-padding {padding: 0 !important;}
.no-margin {margin: 0 !important;}
.small-margin {margin-top: 5px !important; margin-bottom: 5px !important;}
.pie-small canvas{width: 95px !important; height: 80px !important; float: left; padding-left: 15px;}
.pie-big canvas{width: 293px !important; height: 293px !important; float: center; padding: 20px;}
.card .header {padding-bottom: 10px !important;}
.card .body {padding-top: 10px !important;}
.nav-tabs > .nav-item > .nav-link {padding: 5.9px !important;}
.theme-orange .nav-tabs .nav-link.active {border: none !important; border-bottom: 2px solid #14cd7d !important; border-radius: 0 !important; background: none !important; color: #fff !important;}
.table tr td, .table tr th {padding-top: 7px !important; padding-bottom: 7px !important}
.label-doc {color: #333 !important; text-transform: uppercase; font-size: 20px; font-weight: 500}
div.fix-col {padding-left: 7px !important; padding-right: 7px !important;}
div.fix-m--15 {margin-left: -15px !important; margin-right: -15px !important;}
div .col-md-4 .fix-m--15 {width: 33.733333% !important;}
div.fix-m--15 .card {width: 104.5%;}
.card-fix-margin {margin-bottom: 12px !important;}
.server {margin-bottom: 5px !important;}
.table td, .table th {padding: 0 !important;}