<!-- MAKE SURE THIS IS ROW 1 -->
<!-- 1. Google Fonts Code -->
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700" rel="stylesheet">

<!-- 2. Dotty Cell Borders -->
<style>
  td {
    border: none;
  }
  ul {
}

li {
  
}

li a {
}
</style>
<!-- 3. 'Master' Styling -->
<table style=" 
    border-bottom: 15px solid #1d336c;
    font-family: Muli;
    text-align: left;
    color: #484A47;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    padding: 0;
    min-width: 100%;">
<tbody>
  <tr><td colspan="2">Thank you for your kind attention. Should you have any enquiry, please do not hesitate to reply to this email.<br>Regards,</td></tr>
  <tr>
    <td colspan="2"><img src="http://senangpay.my/email_signature_file/signature-dzariq@2x.png" style="height: 60px;"></td>
  </tr>
  <tr>
    <td style="padding-top: 10px; padding-bottom: 0; font-weight: 700; font-size: 16px;">Dzariq Mirza</td>
    <td></td>
  </tr>
  <tr>
    <td style="padding-top: 0;">Sr. Developer</td>
    <td></td>
  </tr>
  <tr>
    <td><img src="http://senangpay.my/email_signature_file/assets/senangpay-logo@2x.png" style="width: 110px; margin-top: 10px;"></td>
    <td></td>
  </tr>
  <tr>
    <td><span style="color: #338ecc; font-weight: 700; padding-right: 10px;">M</span> 018-666 3282</td>
    <td></td>
  </tr>
  <tr>
    <td><span style="color: #338ecc; font-weight: 700; padding-right: 10px;">O</span> 03-5031 2588</td>
    <td align="right">
      <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
        <li style="float: right;"><a href="http://linkedin.com/company/senangpay/about" style="display: block; color: #1d336c; text-align: center; padding: 0 5px;text-decoration: none;"><img src="http://senangpay.my/email_signature_file/assets/socmed-icon-in@2x.png" style="width: 12px;"></a></li>
        <li style="float: right;"><a href="http://twitter.com/senangpay"style="display: block; color: #1d336c; text-align: center; padding: 0 5px;text-decoration: none;"><img src="http://senangpay.my/email_signature_file/assets/socmed-icon-tw@2x.png" style="width: 12px;"></a></li>
        <li style="float: right;"><a href="http://instagram.com/senangpay"style="display: block; color: #1d336c; text-align: center; padding: 0 5px;text-decoration: none;"><img src="http://senangpay.my/email_signature_file/assets/socmed-icon-ig@2x.png" style="width: 12px;"></a></li>
        <li style="float: right;"><a href="http://facebook.com/senangpay"style="display: block; color: #1d336c; text-align: center; padding: 0 5px;text-decoration: none;"><img src="http://senangpay.my/email_signature_file/assets/socmed-icon-fb@2x.png" style="width: 12px;"></a></li>
        <li style="float: right;"><a href="https://senangpay.my"style="display: block; color: #1d336c; text-align: center; padding: 0 5px;text-decoration: none;"><img src="http://senangpay.my/email_signature_file/assets/socmed-icon-web@2x.png" style="width: 12px;"></a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; font-size: 10px; padding-top: 20px;">Simplepay Gateway Sdn Bhd, K03-03-03A UOA Business Park, 1 Jalan Pengaturcara U1/51A, Seksyen U1, 40150 Shah Alam.</td>
  </tr>
</tbody>
</table>